.intro {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro_img {
    width: 38%;
    margin-right: 1rem;
}

.intro_img img {
    border-radius: 50%;

}

.intro_data {
    width: 55%;
    margin-left: 1rem;
}

@media screen and (max-width: 768px){
    .intro{
        padding-top: 1.5rem;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    .intro_data{
        width: 100%;
        align-self: center;
        text-align: center;
    }

    .intro_img{
        width: 100%;
        height: auto;
    }
}